@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');

img {
    max-width: 100%;
}

.experiences-main {
    width: 100%;
}

.experiences-container {
    padding: 10vh 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.experience-list {
    position: relative;
    width: 40%;
    min-width: 400px;
    cursor: pointer;
}

.experience-title {
    border-radius: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    opacity: .95;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.experience-title h1 {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 10px;
    font-size: 22px;
}

.experience-list:hover .experience-title {
    opacity: 0;
    transition: .5s;
}

.experience-source {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#experience-source-videogame {
    object-position: right;
}

#experience-source-drone {
    object-position: left;
}

@media only screen and (max-width: 1000px) {
    .experience-list {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .experience-list {
        width: 300px;
        min-width: 0;
    }
    
    .experience-title, .experience-source {
        height: 200px;
        width: 300px;
    }

    .experience-title h1 {
        letter-spacing: 5px;
    }

}