@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');


.faq-main {
    padding-bottom: 100px;
}

.faq-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    position: relative;
    width: 60vw;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    outline: none;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px 40px 5px 10px;
}


.material-symbols-outlined  {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24;
    font-size: 20pt;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  

@media only screen and (max-width: 600px) {
    .search-bar {
        width: 90vw;
        margin: 100px 10px;
    }
}

.questions-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 90%;
}

.questions-title-container {
    height: 100px;
    width: 100%;
    border-radius: 20px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.questions-title {
    max-width: 90%;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.answer {
    display: none;
    transform: translateY(-100%);
    transition: .3s;
    text-align: justify;
    width: calc(100% - 30px);
    padding: 20px;
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
}

.answer-show {
    display: block;
    transform: translateY(0%);
    transition: .3s;
}

.arrow-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
