img {
    max-width: 100%;
}

.footer {
    padding: 40px 10vh;
    background-color: #101116;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
}

.footer-legal-terms {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 1.2rem;
}

.footer-legal-terms p {
    cursor: pointer;
}

.footer-image {
    height: 150px;
    width: max-content;
}

.footer-social-networks {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-social-networks-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-social-networks-images img {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        align-content: center;
        gap: 50px;
        padding: 40px 0;
    }

    .footer-legal-terms {
        width: 90%;
        flex-direction: row;
    }

    .footer-image {
        order: -2;
        margin: 0 auto;
        height: 75px;
    }
        
    .footer-social-networks {
        width: 90%;
        order: -3;
    }

    .footer-social-networks-images {
        width: 90%;
        justify-content: space-evenly;
    }

    .footer-social-networks-images img {
        height: 35px;
        width: 35px;
    }
}