@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');

img {
    max-width: 100%;
}

.footer {
    font-family: 'Comfortaa', sans-serif;
    font-size: 14px;
    padding: 40px 10vh;
    background-color: #101116;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
}

.footer-legal-terms {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.footer-legal-terms p {
    cursor: pointer;
}

.footer-image {
    height: 150px;
    width: max-content;
    filter: drop-shadow(0px 0px 5px #ffffff);
    transition: .3s;
}

.footer-image:hover {
    filter: drop-shadow(0px 0px 5px #000000);
    transition: .3s;
}

.footer-social-networks {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
}

.footer-social-networks-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-social-networks-images img {
    cursor: pointer;
    height: 50px;
    width: 50px;
    filter: drop-shadow(0px 0px 5px #ffffff);
    transition: .3s;
}

.footer-social-networks-images img:hover {
    filter: drop-shadow(0px 0px 5px #000000);
    transition: .3s;
}

@media only screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        align-content: center;
        gap: 50px;
        padding: 40px 0;
    }

    .footer-legal-terms {
        width: 90%;
        flex-direction: row;
    }

    .footer-image {
        display: none;
    }
        
    .footer-social-networks {
        width: 90%;
        order: -3;
    }

    .footer-social-networks-images {
        width: 90%;
        justify-content: space-evenly;
    }

    .footer-social-networks-images img {
        height: 35px;
        width: 35px;
    }
}