@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');

img {
    max-width: 100%;
}

.index-main {
    font-family: 'Quicksand', sans-serif;
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.main-glasses-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-glasses-product-image {
    max-width: 40%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.main-glasses-product-image img {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main-glasses-product-image:hover img {
    transform: scale(1.1);
    transition: .5s;
}

.main-glasses-product-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.main-glasses-product-description p, .main-description-all-products p  {
    text-align: justify;
    font-size: 20px;
}

.main-glasses-product-button, .main-button-all-products {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 2px;
    padding: 12px 40px;
    border-radius: 12px;
    width: max-content;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.index-main-rectangle-photo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.main-description-all-products {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}


@media only screen and (max-width: 800px) {
    .index-main {
        gap: 100px;
    }

    .main-glasses-product {
        flex-direction: column;
        align-items: center;
    }

    .main-glasses-product-image, .main-glasses-product-description {
        max-width: 100%;
        width: 90%;
    }

    .main-glasses-product-image {
        height: 200px;
    }

    .main-glasses-product-img-right {
        order: -1;
    }

    .main-description-all-products p {
        font-size: 14px;
    }
}