img {
    max-width: 100%;
}

.index-main {
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    gap: 150px;
    background-color: #010124;
    color: #ffffff;
}

.main-glasses-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.main-glasses-product img {
    width: 40%;
    object-fit: cover;
}

.main-glasses-product-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-glasses-product-description p { /* Product description */
    text-align: justify;
    font-size: 1.2rem;
}

.main-glasses-product-button {
    padding: 12px 40px;
    border-radius: 12px;
    background-color: black;
    color: #ffffff;
    width: max-content;
    font-size: 1.2rem;
    cursor: pointer;
}

.index-main-rectangle-photo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.main-description-all-products {
    padding: 0 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main-description-all-products p {
    text-align: justify;
    font-size: 1.2rem;
}

.main-button-all-products {
    padding: 12px 40px;
    border-radius: 12px;
    background-color: black;
    color: #ffffff;
    width: max-content;
    font-size: 1.2rem;
    cursor: pointer;
}