/* Color Theme Swatches in Hex */
.color-theme_logo-1-hex { color: #131D26; }
.color-theme_logo-2-hex { color: #293940; }
.color-theme_logo-3-hex { color: #3B5159; }
.color-theme_logo-4-hex { color: #97A4A6; }
.color-theme_logo-5-hex { color: #F2F2F0; }

/* Color Theme Swatches in RGBA */
.color-theme_logo-1-rgba { color: rgba(19, 29, 38, 1); }
.color-theme_logo-2-rgba { color: rgba(41, 57, 64, 1); }
.color-theme_logo-3-rgba { color: rgba(59, 81, 89, 1); }
.color-theme_logo-4-rgba { color: rgba(151, 164, 166, 1); }
.color-theme_logo-5-rgba { color: rgba(242, 242, 240, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_logo-1-hsla { color: hsla(208, 33, 11, 1); }
.color-theme_logo-2-hsla { color: hsla(198, 21, 20, 1); }
.color-theme_logo-3-hsla { color: hsla(195, 20, 29, 1); }
.color-theme_logo-4-hsla { color: hsla(187, 7, 62, 1); }
.color-theme_logo-5-hsla { color: hsla(60, 7, 94, 1); }

img {
    max-width: 100%;
}

.index-main {
    padding: 12vh 0;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.main-glasses-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-glasses-product-image {
    max-width: 40%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.main-glasses-product-image img {
    height: 100%;
}

.main-glasses-product-image:hover img {
    transform: scale(1.1);
    transition: .5s;
}

.main-glasses-product-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.main-glasses-product-description p, .main-description-all-products p  {
    text-align: justify;
    font-size: 20px;
}

.main-glasses-product-button, .main-button-all-products {
    padding: 12px 40px;
    border-radius: 12px;
    width: max-content;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.index-main-rectangle-photo {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.main-description-all-products {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}


@media only screen and (max-width: 800px) {
    .index-main {
        gap: 50px;
    }

    .main-glasses-product {
        flex-direction: column;
        align-items: center;
    }

    .main-glasses-product-image, .main-glasses-product-description {
        max-width: 100%;
        width: 90%;
    }

    .main-glasses-product-image {
        height: 200px;
    }

    .main-glasses-product-img-right {
        order: -1;
    }

    .main-description-all-products p {
        font-size: 1rem;
    }
}