@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
background-color: #101116;
}

body::-webkit-scrollbar-thumb {
background-color: #ffffff;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 20vw 50vw;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: inherit;
    transition: .2s;
}

@media only screen and (max-width: 1400px) {
    .navbar {
        grid-template-columns: 20vw 75vw;
    }
}

.navbar--fixed {
    height: 8vh;
    background-color: #101116;
    transition: .5s;
}

.navbar-title {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navbar-logo h1 {
    width: max-content;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 2px;
}

.navbar-logo img {
    height: 6vh;
    cursor: pointer;
}

.navbar-list {
    margin-right: 30px;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.navbar-list a {
    cursor: pointer;
}

.nav-bars-icon {
    display: none;
}

.theme-icons {
    width: max-content;
    position: absolute;
    right: 10px;
}

.navbar-theme-icon {
    cursor: pointer;
    font-size: 20px;
}

.container-theme-icons > .navbar-theme-icon-hidden {
    display: none;
}

@media only screen and (max-width: 900px) {
    .navbar {
        grid-template-columns: 30vw auto;
    }

    .navbar-logo-display {
        width: max-content;
        padding-left: 10px;
    }
    
    .nav-bars-icon {
        width: auto;
        z-index: 1000;
        display: block;
        cursor: pointer;
        font-size: 24px;
        text-align: right;
    }

    .navbar-list {
        margin-right: 0;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        padding: 12vh 4vw 2vh 4vw;
        background-color: inherit;
        transform: translateY(-100%);
        transition: .2s;
        border-radius: 0 0 0 20px;
    }

    .navbar-list--show {
        transform: translateY(-0);
        transition: .2s;
    }

    .theme-icons {
        right: 35px;
    }
}