* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
background-color: #101116;
}

body::-webkit-scrollbar-thumb {
background-color: #ffffff;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 20vw 30vw;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: inherit;
    transition: .2s;
}

@media only screen and (max-width: 1400px) {
    .navbar {
        grid-template-columns: 30vw 65vw;
    }
}

.navbar--fixed {
    height: 8vh;
    background-color: #101116;
    transition: .5s;
}

.navbar-title {
    font-family: 'Martian Mono', monospace;
    letter-spacing: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-title h1 {
    cursor: pointer;
}

.navbar-list {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.5px;
    font-size: 22px;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}

.navbar-list a {
    cursor: pointer;
}


.nav-bars-icon {
    display: none;
}

@media only screen and (max-width: 700px) {
    .navbar {
        grid-template-columns: 30vw auto;
    }
    
    .nav-bars-icon {
        width: auto;
        z-index: 1000;
        display: block;
        cursor: pointer;
        font-size: 24px;
        text-align: right;
        margin-right: 4vw;
    }

    .navbar-list {
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        padding: 12vh 4vw 2vh 4vw;
        background-color: inherit;
        transform: translateY(-100%);
        transition: .2s;
        border-radius: 0 0 0 20px;
    }

    .navbar-list--show {
        transform: translateY(-0);
        transition: .2s;
    }
}