@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');

img {
    max-width: 100%;
}

.other-headers {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}

.background-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35vh;
    z-index: -1;
    filter: blur(3px);
}

.header-title {
    width: max-content;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .header-title {
        letter-spacing: 8px;
    }
}