img {
    max-width: 100%;
}

.other-headers {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40vh;
    z-index: -1;
    filter: blur(3px);
}

.header-title {
    width: max-content;
    padding-bottom: 15px;
    color: #ffffff;
    text-transform: uppercase;
}