@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Varela+Round&display=swap');

img {
    max-width: 100%;
}

.products-main {
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.product-container {
    height: 60vh;
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.product-img {
    height: 100%;
    width: 50%;
    min-width: 400px;
    overflow: hidden;
}

.product-img img {
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    width: 100%;
    height: 100%;
    padding: 60px 30px;
}

.product-img:hover img {
    transform: scale(1.1);
    transition: .5s;
}

.product-info {
    height: 100%;
    width: 50%;
    min-width: 400px;
    border-radius: 0 12px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-text {
    margin: 0 50px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-text h1 {
    font-size: 34px;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.product-text h2 {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1.5px;
    text-indent: 10px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.product-text p {
    font-family: 'Quicksand', sans-serif;
    margin-top: 50px;
    line-height: 27px;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
    font-size: 20px;
}

.product-price-btn {
    margin: 0 50px;
    text-align: right;
}

.product-price-btn-show {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 2px;
    padding: 12px 40px;
    border-radius: 12px;
    width: max-content;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .product-container {
        flex-direction: column;
        height: auto;
        gap: 50px;
        padding-bottom: 50px;
    }

    .product-img, .product-info {
        min-width: 0;
        width: 100%;
    }

    .product-img img  {
        border-radius: 12px 12px 0 0;
        padding: 20px 10px;
    }

    .product-info {
        border-radius: 0 0 12px 12px;
        height: 100%;
        gap: 20px;
    }

    .product-text h1 {
        font-size: 25px;
    }

    .product-text p  {
        margin-top: 20px;
        font-size: 14px;
    }
}